aws_region  = "us-east-1"
aws_profile = "dev"
vpc_cidr    = "10.0.0.0/16"
vpc_name    = "dev-vpc"

# Public subnets in 3 different AZs
public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24",
  "10.0.3.0/24"
]

# Private subnets in 3 different AZs
private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24",
  "10.0.13.0/24"
]

# Availability zones
availability_zones = [
  "us-east-1a",
  "us-east-1b",
  "us-east-1c"
]